.article_text{
    word-wrap: break-word;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%; 
}
.image_limit{
    max-width: 700px;
    max-height: 600px;
    text-align:center;
}
.centered{
    text-align: center;
}
.article_text_i{
    margin-right: 8%;
    margin-left: 10%;
}