::-webkit-scrollbar {
  width: 0px;
}
ul{
  padding-left: 0px;
}
table{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    background-color: lightgray;
    border:5px solid black;
    width: 70%;
    height: auto;
    box-shadow: 5px 10px 8px 10px #888888;
   }
   .calendar-day{
       height: 100px;
       border: 2px solid darkgrey;
   }
   th{
     width: 150px;
     height: 10px;
     border: 2px solid Black;
   }
   td{
     height: 1px;
    
   }
  tr{
      width: 25px;
      margin: 0;
      padding: 0;
      height: 10px;
      text-align: center;
      
     
  }

.month {
  padding: 70px 25px;
  width: 100%;
  height: 100%;
  background: #1abc9c;
  text-align: center;
}
.table-head{
   size: 10cm;
}
.tabl{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.dow{
    text-align: center;

    width: 100%;
}
.hover-green{
    background-color: green;
    padding: 0;
    margin: 0;
}
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}